absl-py==0.9.0
argon2-cffi==20.1.0
astunparse==1.6.3
async-generator==1.10
attrs==19.3.0
backcall==0.2.0
bcrypt==3.1.7
beautifulsoup4==4.9.3
bleach==3.1.5
bs4==0.0.1
cached-property==1.5.1
cachetools==4.1.1
certifi==2020.11.8
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
colorama==0.4.3
cryptography==3.2.1
cycler==0.10.0
cytoolz==0.11.0
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1602029610262/work
decorator==4.4.2
defusedxml==0.6.0
distro==1.5.0
dlib @ file:///D:/bld/dlib_1602513921653/work
docker==4.2.2
docker-compose==1.26.2
dockerpty==0.4.1
docopt==0.6.2
entrypoints==0.3
future==0.18.2
gast==0.3.3
google-auth==1.19.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.30.0
h5py==2.10.0
idna==2.10
imagecodecs @ file:///D:/bld/imagecodecs_1602637571292/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1594044661732/work
importlib-metadata==1.7.0
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
jedi==0.17.2
Jinja2==2.11.2
joblib==0.16.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.1
Keras==2.4.3
Keras-Preprocessing==1.1.2
kiwisolver @ file:///D:/bld/kiwisolver_1604322456418/work
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib @ file:///D:/bld/matplotlib-base_1594091882257/work
mistune==0.8.4
nbclient==0.5.0
nbconvert==6.0.0
nbformat==5.0.7
nest-asyncio==1.4.0
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1598210780226/work
nltk==3.5
notebook==6.1.4
numpy @ file:///D:/bld/numpy_1597938567428/work
oauthlib==3.1.0
olefile==0.46
opencv-python==4.4.0.42
opt-einsum==3.2.1
packaging==20.4
pandas==1.0.5
pandocfilters==1.4.2
paramiko==2.7.1
parso==0.7.1
pickleshare==0.7.5
Pillow @ file:///D:/bld/pillow_1594213048891/work
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.12.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pygame==1.9.6
Pygments==2.6.1
PyNaCl==1.4.0
pyOpenSSL==20.0.0
pyparsing==2.4.7
pypiwin32==223
pyrsistent==0.16.0
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
PyWavelets @ file:///D:/bld/pywavelets_1602504662693/work
pywin32==228
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
regex==2020.6.8
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
scikit-image==0.17.2
scikit-learn==0.23.1
scipy @ file:///C:/bld/scipy_1604305143982/work
seaborn==0.10.1
Send2Trash==1.5.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
soupsieve==2.0.1
tensorboard==2.2.2
tensorboard-plugin-wit==1.7.0
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
texttable==1.6.2
threadpoolctl==2.1.0
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1601589267960/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1600973991856/work
torch @ https://download.pytorch.org/whl/cu90/torch-1.1.0-cp37-cp37m-win_amd64.whl
tornado @ file:///D:/bld/tornado_1604105307492/work
tqdm==4.47.0
traitlets==5.0.4
urllib3==1.25.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1
zipp==3.1.0
